@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@300&family=Poppins:wght@200&display=swap');

// ? COLORS

$background-color: #0e0e10;
$violet: #c689f9;
$linear-gradiend-card: linear-gradient(191.32deg, #7b2eb0 -118.59%, #c584f5 15.64%, #dacee1 56.18%, #5d6aaa 81.36%, #0d2986 109.76%, #481cbb 131.68%, #142d8e 131.68%);
$linear-gradiend-btn: linear-gradient(101.61deg, #84eef5 -14.72%, #c584f5 66.97%);

// ? FONTS FAMILY

$font-inter: 'Inter', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;

// ? FONT WEIGHT

$font-bold: 800;
$font-medium: 600;
$font-ease: 400;
